@page "/tutorials"
@{
    ViewData["Title"] = "Tutorials";
}

<h1 class="display-4">Tutorials</h1>
<p class="lead">Coming Soon</p>
<p>
    Due to Unity's poor corporate decision-making, I'm left in a position where I find it infeasible to write Unity
    tutorials. I plan to write tutorials for things like Unreal and MonoGame as I learn them, and C# tutorials are
    still on the table for sure. But tutorials take a lot of time and effort, so unfortunately it may be a while before
    I can get around to publishing them.
</p>
<p>
    However, in the meantime, I do have various blog posts that contain some tutorials and guides. You can find them
    <a asp-page="/Blog/Index">here</a>!
</p>
<p>
    I'm sorry for the inconvenience, but I hope you understand my position. Watch this space! New tutorials will be
    coming. If you have any questions or requests, please feel free to <a asp-page="/Contact/Index">contact me</a>.
</p>
