@page
@using BoothDotDev.Common.Data.Web
@using BoothDotDev.Common.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IContactService ContactService
@{
    ViewData["Title"] = "Blacklist";
}
<article class="post-single">
    <header class="post-header">
        <div class="breadcrumbs">
            <a asp-page="/Index">Home</a>
            &nbsp;»&nbsp;
            <a asp-page="/Contact/Index">Contact</a>
        </div>
        <h1 class="post-title entry-hint-parent">Contact Blacklist</h1>
    </header>
    
    <div class="post-content">
        <p>
            Below is a list of email addresses that have been blocked from contacting me. This list is public so that
            others may also block these addresses if they wish. Any email address that contains an asterisk (*) is a
            wildcard, meaning that any email address that matches the pattern will be blocked.
        </p>

        <p>
            You can view this list in JSON format
            <a asp-controller="FormattedBlacklist" asp-action="OnGet" asp-route-format="json">here</a>,
            or in CSV format
            <a asp-controller="FormattedBlacklist" asp-action="OnGet" asp-route-format="csv">here</a>.
        </p>

        <table class="table">
            <tr>
                <th>Name / Email</th>
                <th>Reason</th>
            </tr>

            @foreach (IBlacklistEntry entry in ContactService.GetBlacklist())
            {
                <tr>
                    <td>@entry.Name &lt;@entry.EmailAddress&gt;</td>
                    <td>@entry.Reason</td>
                </tr>
            }
        </table>
    </div>
</article>