@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Contact";
    ViewData["Page"] = "Contact";
}

<article class="post-single">
    <header class="post-header">
        <div class="breadcrumbs"><a asp-page="/Index">Home</a></div>
        <h1 class="post-title entry-hint-parent">Contact</h1>
    </header>

    <div class="post-content">
        <p>
            After much consideration, I've decided to terminate the contact form on this website.
            I've been receiving a lot of spam (mostly from SEO scammers), with seldom legitimate correspondence, and I
            don't have the time nor the patience to deal with it.
        </p>

        <p>
            If you'd like to reach out you can find me on <a href="https://bsky.app/profile/booth.dev">BlueSky</a> or in
            the <a href="https://discord.gg/brackeys">Brackeys Community Discord Server</a>.
        </p>

        <p>
            I apologise for the inconvenience, and thank you for your understanding.
        </p>
    </div>
</article>