@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BoothDotDev.Pages.Contact.Result

@{
    ViewData["Title"] = "Contact";
}

<article class="post-single">
    @if (Model.WasSuccessful)
    {
        <header class="post-header">
            <h1 class="post-title entry-hint-parent">Sent successfully!</h1>
        </header>

        <div class="post-content">
            <p>Thank you for getting in touch. I will get back to you as soon as possible.</p>
            <p>
                In the meantime, why not check out my <a asp-page="/Blog/Index">blog</a> or
                <a asp-page="/Projects/Index">portfolio</a>?
            </p>
        </div>
    }
    else
    {
        <header class="post-header">
            <h1 class="post-title entry-hint-parent">A problem occured</h1>
        </header>

        <div class="post-content">
            <p>
                Sorry, something went wrong. This has been logged and if it's a problem on my end, I'll get to it soon.
            </p>
            <p>
                You can <a asp-page="Index">try again</a>, or check out my <a asp-page="/Blog/Index">blog</a> or
                <a asp-page="/Projects/Index">portfolio</a>!
            </p>
        </div>
    }
</article>