services:
  boothdotdev:
    container_name: booth.dev
    pull_policy: build
    build:
      context: .
      dockerfile: BoothDotDev/Dockerfile
    volumes:
      - type: bind
        source: /var/log/boothdotdev/site
        target: /app/logs
      - type: bind
        source: /etc/boothdotdev/site
        target: /app/data
    ports:
      - "2845:8080"
    restart: unless-stopped
    environment:
      - SSL_CERT_PATH=${SSL_CERT_PATH}
      - SSL_KEY_PATH=${SSL_KEY_PATH}

networks:
  default:
    driver: bridge
