@page
@{
    ViewData["Title"] = "Projects";
}

<h1 class="display-4">Projects</h1>

<div class="card-group row">
    <div class="col-xs-1 col-md-6 col-lg-6 d-flex align-items-stretch">
        <div class="card border-success project-card">
            <div class="card-header text-bg-success">In Active Development</div>
            <img src="~/img/projects/hero/x10d-1280x640.png" class="card-img-top" alt="X10D">
            <div class="card-body">
                <h5 class="card-title">X10D</h5>
                <p class="card-text">A <a href="https://nuget.org/packages/x10d">NuGet</a> offering dozens of extension methods for countless .NET types.</p>
                <a href="https://github.com/oliverbooth/X10D" class="btn btn-primary">View on GitHub</a>
            </div>
        </div>
    </div>
    <div class="col-xs-1 col-md-6 col-lg-6 d-flex align-items-stretch">
        <div class="card border-success project-card">
            <div class="card-header text-bg-success">In Active Development</div>
            <img src="~/img/projects/hero/brackeysbot-1280x640.png" class="card-img-top" alt="BrackeysBot">
            <div class="card-body">
                <h5 class="card-title">BrackeysBot</h5>
                <p class="card-text">A collection of self-contained Discord bots that power the <a href="https://discord.gg/brackeys">Brackeys Community</a> Disccord server.</p>
                <a href="https://github.com/BrackeysBot" class="btn btn-primary">View on GitHub</a>
            </div>
        </div>
    </div>
</div>
<div class="card-group row" style="margin-top: 20px;">
    <div class="col-xs-1 col-md-6 col-lg-6 d-flex align-items-stretch">
        <div class="card border-success project-card">
            <div class="card-header text-bg-success">In Active Development</div>
            <img src="~/img/projects/hero/none-1280x640.png" class="card-img-top" alt="Project KW">
            <div class="card-body">
                <h5 class="card-title">Project KW</h5>
                <p class="card-text">A spiritual successor to the PlayStation cult classic Kula World (aka Roll Away).</p>
                <p>No further information is available for this project at this time.</p>
            </div>
        </div>
    </div>
</div>

<div class="card-group row" style="margin-top: 20px;">
    <div class="col-xs-1 col-md-6 col-lg-6 d-flex align-items-stretch">
        <div class="card border-info project-card">
            <div class="card-header text-bg-info">Past Work</div>
            <img src="~/img/projects/hero/fiveoclock-1280x640.png" class="card-img-top" alt="It's 5 O'Clock Somewhere">
            <div class="card-body">
                <h5 class="card-title">It's 5 O'Clock Somewhere</h5>
                <p class="card-text">An alcoholic's best friend: an Android app that tells you where in the world it's socially acceptable to drink.</p>
                <a href="https://play.google.com/store/apps/details?id=me.olivr.FiveOClockSomewhere" class="btn btn-primary">View on Play Store</a>
            </div>
        </div>
    </div>
    <div class="col-xs-1 col-md-6 col-lg-6 d-flex align-items-stretch">
        <div class="card border-info project-card">
            <div class="card-header text-bg-info">Past Work</div>
            <img src="~/img/projects/hero/birthday-1280x640.png" class="card-img-top" alt="Is It My Birthday?">
            <div class="card-body">
                <h5 class="card-title">Is It My Birthday?</h5>
                <p class="card-text">An Android app to tell you whether or not today is your birthday.</p>
                <a href="https://play.google.com/store/apps/details?id=me.olivr.isitmybirthday" class="btn btn-primary">View on Play Store</a>
            </div>
        </div>
    </div>
</div>
<div class="card-group row" style="margin-top: 20px;">
    <div class="col-xs-1 col-md-6 col-lg-6 d-flex align-items-stretch">
        <div class="card border-info project-card">
            <div class="card-header text-bg-info">Past Work</div>
            <img src="~/img/projects/hero/candyjam-1280x640.png" class="card-img-top" alt="Scrolling Candy Apple Saga">
            <div class="card-body">
                <h5 class="card-title">Scrolling Candy Apple Saga</h5>
                <p class="card-text">My submission to the 2013 <a href="https://itch.io/jam/candyjam">Candy Jam</a>. Made with Unity.</p>
                <a href="https://oliverbooth.itch.io/scrolling-candy-apple-saga" class="btn btn-primary">View on itch.io</a>
            </div>
        </div>
    </div>
    <div class="col-xs-1 col-md-6 col-lg-6 d-flex align-items-stretch">
        <div class="card border-light project-card">
            <div class="card-header text-bg-light">Retired</div>
            <img src="~/img/projects/hero/sampdotnet-1280x640.png" class="card-img-top" alt="SAMP.NET">
            <div class="card-body">
                <h5 class="card-title">SAMP.NET</h5>
                <p class="card-text">A .NET wrapper for the Pawn SAMP API, made during my time in college.</p>
                <a href="https://github.com/oliverbooth/SAMP.NET" class="btn btn-primary">View on GitHub</a>
            </div>
        </div>
    </div>
</div>
<div class="card-group row" style="margin-top: 20px;">
    <div class="col-xs-1 col-md-6 col-lg-6 d-flex align-items-stretch">
        <div class="card border-light project-card">
            <div class="card-header text-bg-light">Retired</div>
            <img src="~/img/projects/hero/none-1280x640.png" class="card-img-top" alt="SAMP.NET">
            <div class="card-body">
                <h5 class="card-title">HaloMCCForgePatcher</h5>
                <p class="card-text">A tool to enable the Forge menu item in Halo: Master Chief Collection before it was officially released.</p>
                <a href="https://github.com/oliverbooth/HaloMCCForgePatcher" class="btn btn-primary">View on GitHub</a>
            </div>
        </div>
    </div>
    <div class="col-xs-1 col-md-6 col-lg-6 d-flex align-items-stretch">
        <div class="card border-light project-card">
            <div class="card-header text-bg-light">Retired</div>
            <img src="~/img/projects/hero/unitydocs-1280x640.png" class="card-img-top" alt="Unity API Docs">
            <div class="card-body">
                <h5 class="card-title">Unity API Docs</h5>
                <p class="card-text">A complete rewrite and redesign of the Unity API docs, inspired by the C# and .NET documentation on Microsoft Learn.</p>
                <p>This project was cancelled following Unity's pricing change announcement.</p>
            </div>
        </div>
    </div>
</div>

<div class="card-group row" style="margin-top: 20px">
    <div class="col-xs-1 col-md-6 col-lg-6 d-flex align-items-stretch">
        <div class="card border-dark project-card">
            <div class="card-header text-bg-dark">On Hiatus</div>
            <img src="~/img/projects/hero/olive-1280x640.png" class="card-img-top" alt="Olive">
            <div class="card-body">
                <h5 class="card-title">Olive</h5>
                <p class="card-text">A game engine written in C#, powered by MonoGame.</p>
                <a href="https://github.com/olive-engine/olive" class="btn btn-primary">View on GitHub</a>
            </div>
        </div>
    </div>
    <div class="col-xs-1 col-md-6 col-lg-6 d-flex align-items-stretch">
        <div class="card border-dark project-card">
            <div class="card-header text-bg-dark">On Hiatus</div>
            <img src="~/img/projects/hero/none-1280x640.png" class="card-img-top" alt="TCP.NET">
            <div class="card-body">
                <h5 class="card-title">TCP.NET</h5>
                <p class="card-text">A TCP library for .NET with support for RSA/AES encryption.</p>
                <a href="https://github.com/oliverbooth/TcpDotNet" class="btn btn-primary">View on GitHub</a>
            </div>
        </div>
    </div>
</div>
<div class="card-group row" style="margin-top: 20px;">
    <div class="col-xs-1 col-md-6 col-lg-6 d-flex align-items-stretch">
        <div class="card border-dark project-card">
            <div class="card-header text-bg-dark">On Hiatus</div>
            <img src="~/img/projects/hero/none-1280x640.png" class="card-img-top" alt="MelonSharp">
            <div class="card-body">
                <h5 class="card-title">MelonSharp</h5>
                <p class="card-text">A vanilla Minecraft server written in C#.</p>
                <p>No further information is available for this project at this time.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-1 col-md-6 col-lg-6 d-flex align-items-stretch">
        <div class="card border-dark project-card">
            <div class="card-header text-bg-dark">On Hiatus</div>
            <img src="~/img/projects/hero/syntaxgen-1280x640.png" class="card-img-top" alt="SyntaxGen.NET">
            <div class="card-body">
                <h5 class="card-title">SyntaxGen.NET</h5>
                <p class="card-text">A NuGet to be used for documentation tools that can generate the declaration syntax for .NET types and their members.</p>
                <a href="https://github.com/oliverbooth/dotnet-syntaxgen" class="btn btn-primary">View on GitHub</a>
            </div>
        </div>
    </div>
</div>
<div class="card-group row" style="margin-top: 20px;">
    <div class="col-xs-1 col-md-6 col-lg-6 d-flex align-items-stretch">
        <div class="card border-dark project-card">
            <div class="card-header text-bg-dark">On Hiatus</div>
            <img src="~/img/projects/hero/mutation-1280x640.png" class="card-img-top" alt="Mutation">
            <div class="card-body">
                <h5 class="card-title">Mutation</h5>
                <p class="card-text">A restoration of the classic AW RPG world, modernised for <a href="https://www.virtualparadise.org/">Virtual Paradise</a>.</p>
                <a href="https://mutation3d.net" class="btn btn-primary">View website</a>
            </div>
        </div>
    </div>
    <div class="col-xs-1 col-md-6 col-lg-6 d-flex align-items-stretch">
        <div class="card border-dark project-card">
            <div class="card-header text-bg-dark">On Hiatus</div>
            <img src="~/img/projects/hero/none-1280x640.png" class="card-img-top" alt="Olive">
            <div class="card-body">
                <h5 class="card-title">Astraeos</h5>
                <p class="card-text">An open-universe sandbox game.</p>
                <p>No further information is available for this project at this time.</p>
            </div>
        </div>
    </div>
</div>