@page "/privacy/google-play"
@model OliverBooth.Pages.Privacy.GooglePlay
@{
    ViewData["Title"] = "Google Play Privacy Policy";
}
<h1 class="display-4">@ViewData["Title"]</h1>
<p class="lead">Last Updated: 26 May 2023</p>
<p>This Privacy Policy describes how your personal information is collected, used, and shared when you use or interact with applications that I publish on the <a href="https://play.google.com/store/">Google Play Store</a>.</p>

<h2>Introduction</h2>
<p>I am committed to protecting your privacy and ensuring the security of any information you provide to me when using my applications. This Privacy Policy outlines my practices regarding the collection, use, and disclosure of information I may gather from users of my applications.</p>

<h2>Information I Collect</h2>
<p>I do not collect any personally identifiable information about you when you use my applications. I do not use any cookies or similar tracking technologies that can identify individual users.</p>
<p>However, please note that my applications may make use of third party integrations such as Google Play Services or others. I am not responsible for the privacy practices or content of these third-party services. I encourage you to review the privacy policies of those third-party services before providing any personal information.</p>

<h2>Use of Information</h2>
<p>Since I do not collect any personal information about you, I do not use it for any purpose.</p>

<h2>Disclosure of Information</h2>
<p>I do not share any personal information about you because I do not collect any such information.</p>
<p>However, please be aware that my applications contains links to third-party websites and services. I am not responsible for the privacy practices or content of these third-party sites. I encourage you to review the privacy policies of those third-party sites before providing any personal information.</p>

<h2>Security</h2>
<p>I prioritize the security of your personal information and take reasonable precautions to protect it. However, please be aware that no method of transmission over the internet or electronic storage is 100% secure, and I cannot guarantee absolute security.</p>

<h2>Changes to this Privacy Policy</h2>
<p>I may update this Privacy Policy from time to time to reflect changes in my practices or for other operational, legal, or regulatory reasons. I encourage you to review this Privacy Policy periodically for any updates. The revised policy will be effective immediately upon posting.</p>

<h2>Contact Me</h2>
<p>If you have any questions or concerns about this Privacy Policy or my privacy practices, please <a asp-page="/contact/privacy" asp-route-which="google-play">get in touch</a>.</p>