@page "/error/504"
<article>
    <div class="d-flex align-items-center justify-content-center">
        <div class="align-self-stretch">
            <img class="img-fluid" src="~/img/error/504-gateway-timeout.png">
        </div>

        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="p-2">
                <h1 class="text-center">504 Gateway Timeout</h1>
            </div>
            <div class="p-2">
                <p class="text-center">The server is slacking. Give it more coffee.</p>
            </div>
        </div>
    </div>
</article>