@page "/error/400"
<article>
    <div class="d-flex align-items-center justify-content-center">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="p-2">
                <h1 class="text-center">410 Gone</h1>
            </div>
            <div class="p-2">
                <p class="text-center">The requested page has mysteriously disappeared.</p>
            </div>
        </div>

        <div class="align-self-stretch">
            <img class="img-fluid" src="~/img/error/410-gone.png">
        </div>
    </div>
</article>