@page "/error/418"
<article>
    <div class="d-flex align-items-center justify-content-center">
        <div class="align-self-stretch">
            <img class="img-fluid" src="~/img/error/418-im-a-teapot.png">
        </div>

        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="p-2">
                <h1 class="text-center">418 I'm A Teapot</h1>
            </div>
            <div class="p-2">
                <p class="text-center">No coffee available. I am only capable of brewing tea.</p>
            </div>
        </div>
    </div>
</article>