@page "/contact/job-opportunity"
@{
    ViewData["Title"] = "Contact";
}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-page="/contact/index">Contact</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Job Opportunity</li>
    </ol>
</nav>

<p>
    I am always open to hearing about future opportunities. If you have a position you think I could be a good fit for,
    please feel free to contact me using the form below. At this time, I am only open to positions based in South East
    Wales or that are 100% remote.
</p>
<p>I look forward to hearing from you!</p>

<form method="post">
    <input type="hidden" name="contact-type" value="job-opportunity">

    <div class="form-group" style="margin-top: 10px;">
        <label for="your-name">Your Name</label>
        <input type="text" class="form-control" id="your-name" name="your-name" placeholder="Who are you?" required>
    </div>

    <div class="form-group" style="margin-top: 10px;">
        <label for="your-email">Your Email Address</label>
        <input type="email" class="form-control" id="your-email" name="your-email" placeholder="How can I reach you?" required>
    </div>

    <div class="form-group" style="margin-top: 10px;">
        <label for="company-name">Company Name</label>
        <input type="text" class="form-control" id="company-name" name="company-name" placeholder="Who do you represent?" required>
    </div>

    <div class="form-group" style="margin-top: 10px;">
        <label for="position-title">Job Position Title</label>
        <input type="text" class="form-control" id="position-title" name="position-title" placeholder="e.g. C# Software Developer" required>
    </div>

    <div class="form-group" style="margin-top: 10px;">
        <label for="position-description">Description</label>
        <textarea class="form-control" id="position-description" name="position-description" rows="5" required placeholder="Explain the duties of the role and a bit about the company."></textarea>
    </div>

    <div class="form-group" style="margin-top: 10px;">
        <label for="starting-salary">Starting Salary</label>
        <input type="number" class="form-control" id="starting-salary" name="starting-salary" placeholder="e.g. £30,000" required>
    </div>

    <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Submit</button>
</form>