@page "/contact/open-source"
@{
    ViewData["Title"] = "Contact";
}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-page="/contact/index">Contact</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Open Source Contribution</li>
    </ol>
</nav>

<p>
    Thank you for taking the time to consider contributing to one of my open source projects. I appreciate any and all
    contributions that I receive. You do not need to contact me to do so, just submit a pull request on GitHub and I
    will review it as soon as I can!
</p>
<p>
    Below is a <strong>non-exhaustive</strong> list of the repositories that are currently active. This list is subject
    to change at any time, and may not be up to date. For a better gauge of what I am currently working on, please
    visit my <a href="https://github.com/oliverbooth">GitHub profile</a>. If you would like to contribute to a project
    that is not in active development, I would recommend that you fork the repository and continue development on your
    own as unfortunately I have no timeline as to when I will start such projects back up again.
</p>
<ul>
    <li>
        <a href="https://github.com/oliverbooth/X10D">X10D</a>
    </li>

    <li>
        <a href="https://github.com/BrackeysBot/">BrackeysBot</a>
    </li>
</ul>