@page "/contact/open-source"
@{
    ViewData["Title"] = "Contact";
}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-page="/contact/index">Contact</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Open Source Contribution</li>
    </ol>
</nav>

<p>
    Thank you for taking the time to consider contributing to one of my open source projects! I am always looking for
    ways to improve my code, and I appreciate any and all contributions that I receive. You do not need to contact
    me to do so, just submit a pull request on GitHub and I will review it as soon as I can.
</p>
<p>
    Below are links to the repositories for each of my active projects. This list is subject to change at any time. If
    you'd like to contribute to a project that is not listed below, it is likely that I am not currently actively
    maintaining it, I would recommend that you fork the repository and continue development on your own as unfortunately
    I have no timeline as to when I will start such projects back up again. 
</p>
<ul>
    <li>
        <a href="https://github.com/oliverbooth/X10D">X10D</a>
    </li>

    <li>
        <a href="https://github.com/BrackeysBot/">BrackeysBot</a>
    </li>
</ul>