@page "/contact/technical-help"
@{
    ViewData["Title"] = "Contact";
}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-page="Index">Contact</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Technical Help</li>
    </ol>
</nav>

<p>
    I'm sorry, but do I not offer help or advice regarding development of any kind outside of my website, and Discord
    servers of which I'm a member. I'm most active in the <a href="https://discord.gg/brackeys">Brackeys Community</a>
    Discord server, where I'm an Admin, but this does not give you permission to demand help from me on your schedule.
    If you have a question, please ask in the appropriate channel in that server. If you ping or DM me, I will ignore
    you.
</p>
<p>
    I do not offer services to build or repair desktops, laptops, mobiles, or tablets, outside of my family and close
    friends.
</p>