@page "/error/403"
<article>
    <div class="text-center d-flex flex-column align-items-center">
        <div class="p-2">
            <h1 class="text-center">403 Forbidden</h1>
        </div>
        <div class="p-2">
            <img class="img-fluid" src="~/img/error/403-forbidden.png">
        </div>

        <div class="p-2">
            <p class="text-center">Access to the requested page is forbidden.</p>
        </div>
    </div>
</article>