@page "/error/503"
<article>
    <div class="d-flex align-items-center justify-content-center">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="p-2">
                <h1 class="text-center">503 Service Unavailable</h1>
            </div>
            <div class="p-2">
                <p class="text-center">The server is currently unable to process your request. Please try again later.</p>
            </div>
        </div>

        <div class="align-self-stretch">
            <img class="img-fluid" src="~/img/error/503-service-unavailable.png">
        </div>
    </div>
</article>