@page "/error/429"
<article>
    <div class="d-flex align-items-center justify-content-center">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="p-2">
                <h1 class="text-center">429 Too Many Requests</h1>
            </div>
            <div class="p-2">
                <p class="text-center">You are being rate limited.</p>
            </div>
        </div>

        <div class="align-self-stretch">
            <img class="img-fluid" src="~/img/error/429-too-many-requests.png">
        </div>
    </div>
</article>