@page "/privacy/five-oclock-somewhere"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "It's 5 O'Clock Somewhere Privacy Policy";
}

<main class="container">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="lead">Last Updated: 24 September 2023</p>
    <div class="callout" data-callout="info">
        This Privacy Policy differs from the policy that applies to other applications that I published on Google Play. For
        the generalised privacy policy, please <a asp-page="/Privacy/GooglePlay">click here</a>.
    </div>

    <p>
        This Privacy Policy describes how your personal information is collected, used, and shared when you use or interact
        with the application <em>It's 5 O'Clock Somewhere</em> (the "Application").
    </p>

    <h2>Introduction</h2>
    <p>
        I am committed to protecting your privacy and ensuring the security of any information you provide to me when
        using my applications. This Privacy Policy outlines my practices regarding the collection, use, and disclosure
        of information I may gather from users of the Application.
    </p>

    <h2>Information I Collect</h2>
    <p>
        The Application will temporarily read your device's clock to determine the current time. This information is
        sent to the Application's server to determine an accurate and time-zone aware response to you, the user. This
        information is not stored or retained on the server. I do not use cookies, tracking technologies, or any other
        means to collect or track your usage behavior within the Application. I do not have access to any personal data,
        including your name, email address, or any other personally identifiable information.
    </p>

    <h2>Use of Information</h2>
    <p>
        The Application uses the little information it collects from you to provide the Application's functionality to
        you. This information is not used for any other purpose.
    </p>


    <h2>Disclosure of Information</h2>
    <p>
        I do not disclose your personal information to any third parties unless required by law or with your explicit
        consent. I maintain strict confidentiality and take reasonable precautions to protect your personal information
        from unauthorized access, use, or disclosure.
    </p>

    <h2>Security</h2>
    <p>
        I prioritize the security of your personal information and take reasonable precautions to protect it. However,
        please be aware that no method of transmission over the internet or electronic storage is 100% secure, and I
        cannot guarantee absolute security.
    </p>

    <h2>Changes to this Privacy Policy</h2>
    <p>
        I may update this Privacy Policy from time to time to reflect changes in my practices or for other operational,
        legal, or regulatory reasons. I encourage you to review this Privacy Policy periodically for any updates. The
        revised policy will be effective immediately upon posting.
    </p>

    <h2>Contact Me</h2>
    <p>
        If you have any questions or concerns about this Privacy Policy or my privacy practices, please
        <a asp-page="/Contact/Index">get in touch</a>.
    </p>
</main>