@page
@using OliverBooth.Common.Data
@using OliverBooth.Common.Services
@model Index
@inject IBlogPostService BlogPostService

@{
    ViewData["Title"] = "Blog";
    ViewData["Page"] = "Blog";
}

@await Html.PartialAsync("Shared/Partials/_HomeInfoEntry")
@await Html.PartialAsync("Shared/Partials/_BlogEntries", new ViewDataDictionary(ViewData)
{
    ["CurrentPage"] = 0,
    ["Tags"] = Model.Tag
})

@{
    int pageCount = BlogPostService.GetPageCount(tags: Model.Tag, visibility: Visibility.Published);
    if (pageCount > 1)
    {
        <footer class="page-footer">
            <nav class="pagination">
                <a class="next" asp-page="/Blog/List" asp-route-pageNumber="2">Next&nbsp;2/@pageCount&nbsp;»</a>
            </nav>
        </footer>
    }
}