@page "/blog/page/{pageNumber:int}"
@model List
@using OliverBooth.Common.Data
@using OliverBooth.Common.Data.Blog
@using OliverBooth.Common.Services

@inject IBlogPostService BlogPostService

@await Html.PartialAsync("Partials/_MastodonStatus")

<div id="all-blog-posts">
    @foreach (IBlogPost post in BlogPostService.GetBlogPosts(Model.PageNumber - 1, tags: Model.Tag))
    {
        @await Html.PartialAsync("Partials/_BlogCard", post)
    }
</div>

@await Html.PartialAsync("Partials/_PageTabs", new ViewDataDictionary(ViewData)
{
    ["UrlRoot"] = "/blog",
    ["Page"] = Model.PageNumber,
    ["Tags"] = Model.Tag,
    ["PageCount"] = BlogPostService.GetPageCount(visibility: Visibility.Published, tags: Model.Tag)
})