<article class="first-entry home-info">
    <header class="entry-header">
        <h1>Hi, I'm Oliver.</h1>
    </header>
    <div class="entry-content">
        Coffee enthusiast with a love for all things tech. Tech enthusiast with a love for all things coffee. Studying
        for my Bachelor's in Computer Science at USW.
    </div>
    <footer class="entry-footer">
        <div class="social-icons" style="font-size: 32px;">
            <a href="https://github.com/oliverbooth/" target="_blank" rel="noopener noreferrer me" title="GitHub">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://mastodon.olivr.me/@@oliver" target="_blank" rel="noopener noreferrer me" title="Mastodon">
                <i class="fa-brands fa-mastodon"></i>
            </a>
            <a href="https://bsky.app/profile/booth.dev" target="_blank" rel="noopener noreferrer me" title="BlueSky">
                <i class="fa-brands fa-bluesky"></i>
            </a>
            <a href="https://www.linkedin.com/in/oliverlukebooth/" target="_blank" rel="noopener noreferrer me" title="LinkedIn">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
    </footer>
</article>