@page
@{
    ViewData["Title"] = "Donate";
}

<h1 class="display-4">Donate</h1>
<p>
    If you like what I do and would like to donate money to me and fund my coffee addiction, there are a few options for
    you!
</p>

<p>
    <script type="text/javascript" src="https://storage.ko-fi.com/cdn/widget/Widget_2.js"></script>
    <script type="text/javascript">kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'C0C4DVDZX');kofiwidget2.draw();</script>
</p>

<p>
    <a href="https://www.buymeacoffee.com/oliverbooth" target="_blank">
        <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;">
    </a>
</p>

<p>I also accept cryptocurrency donations.</p>

<ul>
    <li>BTC: 1LmXvavJr1omscfkXjp7A4VyNf3XhKP9JK</li>
    <li>ETH: 0x972C6641e36e2736823A6B1e6BA4D2A814b69fD2</li>
</ul>