@page
@{
    ViewData["Title"] = "Donate";
}

<h1 class="display-4">Donate</h1>

<p>
    I believe in free and open exchange of information, and I want to keep my educational content free for everyone to
    access. I will never put ads on my site, and I don't want to put behind a paywall resources that should be available
    to everybody, regardless of their financial situation.
</p>
<p>
    However, writing tutorials takes time, and I do have to pay for hosting. While I will never ask you for money, I
    will always appreciate it if you do decide to donate. It also helps me to know that people are finding my content
    useful, and that I should continue to make more.
</p>
<p>
    If you like what I do and are both willing and able to donate money to me and fund all of this, you can do so using
    the links below. Thank you for your support!
</p>

<p>
    <script type="text/javascript" src="https://storage.ko-fi.com/cdn/widget/Widget_2.js"></script>
    <script type="text/javascript">kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'C0C4DVDZX');kofiwidget2.draw();</script>
</p>

<p>
    <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="oliverbooth" data-color="#FFDD00" data-emoji="" data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff"></script>
</p>

<p>I also accept cryptocurrency donations.</p>

<ul>
    <li>BTC: 1LmXvavJr1omscfkXjp7A4VyNf3XhKP9JK</li>
    <li>ETH: 0x972C6641e36e2736823A6B1e6BA4D2A814b69fD2</li>
</ul>