@page "/error/{code:int?}"
@model OliverBooth.Pages.ErrorModel
@{
    Layout = "_MinimalLayout";
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">
    @switch (Model.HttpStatusCode)
    {
        case 403:
            <span>403 Forbidden</span>
            break;

        case 404:
            <span>404 Page not found</span>
            break;

        case 500:
            <span>Internal server error</span>
            break;

        default:
            <span>Something went wrong</span>
            break;
    }
</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}