@page "/{culture=en}"
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h1 class="display-4">@Localizer["HomeTitle"]</h1>
<p class="lead">@Localizer["HomeSubtitle"]</p>

<p>@Localizer.GetHtml("Intro1")</p>

<p>
    I've also written a few <a asp-page="/tutorials/index">tutorials</a> on various topics, usually involving
    information not readily available elsewhere. I hope you find them useful.
</p>

<p>
    If you want a general overview of stuff I've made, check out my <a href="https://github.com/oliverbooth">GitHub</a>,
    <a href="https://oliverbooth.itch.io">itch.io</a>, and
    <a href="https://play.google.com/store/apps/dev?id=9010459220239503006">Google Play</a>.
</p>

<p>If you'd like to get in touch, you can do so by <a asp-page="/contact/index">clicking here</a>.</p>