@page
@using BoothDotDev.Pages.Components.Admin
@model BoothDotDev.Pages.Admin.Blog.Index
@{
    ViewData["Title"] = "Admin";
    ViewData["Page"] = "Admin";
}

<article class="first-entry home-info">
    <header class="page-header">
        <div class="breadcrumbs">
            <a asp-page="/Admin/Index">Dashboard</a>
            &nbsp;»&nbsp;
            <a asp-page="/Admin/Blog/Index">Blog Posts</a>
        </div>
        <h1 class="post-title entry-hint-parent">Blog Posts</h1>
        <div class="entry-content">
            Create, edit, and delete blog posts.
            <br/>
            <a asp-page="/Admin/Blog/Create" class="btn btn-success mb-3">Create New</a>
        </div>
    </header>
</article>

<component type="typeof(BlogPostTable)" render-mode="ServerPrerendered"/>

@section Scripts {
    <script src="_framework/blazor.server.js"></script>
}
