@use "sass:color";
@import "colors";

html, body {
  background: $background-light;
  color: $foreground-light;
}

#site-title {
  a {
    &:link, &:visited, &:hover, &:active {
      color: $ui-foreground-light;

      * {
        color: $ui-foreground-light;
      }
    }
  }
}

nav ul.site-nav li a {
  &:link, &:visited, &:hover, &:active {
    color: $ui-foreground-light;
  }
}

ul.contact-reasons li a {
  &:link, &:visited, &:hover, &:active {
    color: $ui-foreground-light;
  }
}

.card {
  background: $card-background-light;
  color: $ui-foreground-light;

  a.btn, button {
    color: $ui-foreground-light;
  }
}

article {
  background: $content-background-light;
}

main.container {
  background: $content-background-light;
}

a.brand-mastodon {
  &:hover {
    color: $ui-foreground-light;
  }
}

a {
  &:link, &:visited, &:hover, &:active {
    color: $link-text-light;
  }

  &:hover {
    color: $link-hover-light;
  }
}

hr.page-separator {
  border-top: 5px dashed $ui-foreground-light;
}

article blockquote {
  border-left: 2px solid $blockquote-light;
}

.project-card {
  background: $project-background-light;

  a {
    &:link, &:visited, &:hover &:active {
      color: $ui-foreground-light;
    }
  }

  p.project-title {
    background-color: rgba($project-background-light, 50%);
  }
}

code:not([class*="language-"]) {
  background: #dcdcda !important;
  color: #1e1e1e !important;
}

a:link, a:visited, a:hover, a:active {
  code:not([class*="language-"]) {
    color: $link-text-light !important;
  }
}

a:hover {
  code:not([class*="language-"]) {
    color: $link-hover-light !important;
  }
}

a.brand-linkedin {
  &:hover {
    color: $ui-foreground-light;
  }
}

pre {
  background: #ffffff !important;

  code mark, code mark span {
    background: #ffff00 !important;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem $ui-foreground-light, 0 0 0 0.25rem #258cfb;
}

.keystroke {
  background: color.adjust($foreground-light, $lightness: -20%);
  color: $background-light;
  border: color.adjust($foreground-light, $lightness: -30%);
}

.mastodon-update-card.card {
  background-color: #6364FF;
  color: $ui-foreground-dark;
  
  .text-muted abbr {
    color: $ui-foreground-dark;
  }
  
  a:link, a:visited, a:hover, a:active {
    color: $ui-foreground-dark;
  }
}