$blog-card-bg: #333333;
$blog-card-gutter: 20px;
$border-radius: 3px;

div.blog-card {
  background: $blog-card-bg;
  margin-bottom: $blog-card-gutter;
  padding: $blog-card-gutter;
  border-radius: $border-radius;

  :last-child {
    margin-bottom: 0;
  }

  article {
    padding: 0;
    margin: 0;
  }
}

ul.pagination {
  border: none;

  li {
    a, span {
      border-radius: $border-radius !important;
      border: none;

      &:link, &:visited, &:active {
        color: #007ec6;
      }
    }

    &.active a, &.active span {
      background: #007ec6;
    }

    &:not(.active) a, &:not(.active) span {
      background: none;
    }

    &:hover {
      a {
        color: #ffffff !important;
      }
    }
  }
}

ul.post-tags {
  list-style: none;
  margin: 0;
  padding: 0;

  li.post-tag {
    display: inline-block;
    margin: 0 5px;

    a {
      border-radius: 5px;
      border: 1px solid #007ec6;
      padding: 5px;

      &:link, &:active, &:visited {
        color: #007ec6;
      }

      &:hover {
        border-color: #ffffff;
        color: #ffffff;
      }
    }
  }
}